@media screen and (min-width: 828px){
    background-color:lightblue;
}

@media print {
    background-color:transparent;
}

p{
    text-align: center;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
.center{
    text-align: center;
}
.centerImage{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:50%;
}

.centerImage2{
    display:block;
    margin-left:auto;
    margin-right:auto;
}
#grey{
    margin-bottom: auto;
    background-color: grey;
}
.listcenter{
    margin:auto;
    width:25%;
}
.divcenter{

    margin-left:auto;
    margin-right:auto;
}